{% extends 'base.html' %}

{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Create An App Idea</h1>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div>
        <!-- {{form.as_table}} -->
        <p>Name: {{form.name}}</p>
        <p>Description: {{form.description}}</p>
        <p>Tech: </p>
        <div>
            {{form.tech}}
        </div>
        <p>*Hold down Cmd or Ctrl to select multiple!</p>
        
    </div>

    <input type="submit" value="Submit!" class="btn">
</form>

{% endblock %}