{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Create An App Idea</h1>
{% endif %}
<div>
<form action="" method="post">
    {% csrf_token %}
    <div>
            {{form|crispy}}
            <p>*Hold CMD or CTRL to select multiple tech specs</p>
    </div>
    <button type="submit" value="Submit!" class="btn btn-secondary">Add It To The Cache</button>
</form>
</div>

{% endblock %}