{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <div>
            <img src="{{current_user.profile.photo}}" height="150px" alt="">
            <h1>{{ user.first_name }}</h1>
        </div>
        <div>
            {{user.profile.bio}}
            Year Joined: {{user.date_joined.year}}
            <div>
                <a href="{{ current_user.profile.linkedin }}" target="_blank" >Linkedin</a>
                <a href="{{ current_user.profile.github }}" target="_blank" >Github</a>
            </div>
        </div>
        <a href="{% url 'users_index' %}">Return To All Coders</a>
        <div>
            {% if user.app_set.all %}
            <table class="striped">
                <h1>Build List</h1>
                <thead>
                  <tr><th>App</th><th>Coders Building It</th></tr>
                </thead>
                <tbody>
                    {% for app in current_user.app_set.all %}
                    <tr>
                        <td><a href="{% url 'apps_detail' app.id %}">{{app.name}}</a></td>
                        {% if app.users.count %}
                        <td>
                          <a href="{% url 'attached_users' app.id %}">{{app.users.count}}</a></td>
                        {% else %}
                        <td>{{app.users.count}}</td>
                        {% endif %}
                        {% if app in apps_you_dont_have.all %}
                        <td><a href="{% url 'assoc_user' app.id %}">Add Build Idea To Collection</a></td>
                        {% else %}
                        <td>You've Got This Idea In Your Cache Already!</td>
                        {% endif %}
                        
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4>They don't have any apps on their agenda, why not check out the <a href="{% url 'apps_index' %}">App Cache!</a></h4>
    {% endif %}
</div>
{% endblock %}