

{% extends 'base.html' %} {% block content %}

<div class="page-top">
  <div class="card shadow" style="width: auto;">
    <img src="{{current_user.profile.photo}}" style="max-width: auto;" alt="user selected headshot">
    <div class="card-body shadow">
        <h1>{{ current_user.first_name }}</h1>
      <div class="card">
        <div class="card-body shadow">
          <p class="card-text shadow">{{current_user.profile.bio}}</p>
          <p class="card-text shadow">
            Joined App Cache In {{current_user.date_joined.year}}
          </p>
        </div>
      </div>
    </div>
    <div id="link-div" class="card shadow">
      <div class="card-body">
        <a class="card-link" href="{{ current_user.profile.linkedin }}" target="_blank"
          >Their Linkedin Profile</a
        >
        <a class="card-link" href="{{ current_user.profile.github }}" target="_blank"
          >Their Github Profile</a
        >
        <a class="card-link" href="{% url 'users_index' %}">Connect With Other Coders!</a>
        </p>
      </div>
    </div>
        <a id="build-list-btn" class="btn btn-secondary shadow" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Build List</a>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                {% if current_user.app_set.all %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>App</th>
                      <th>Coders Building It</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for app in user.app_set.all %}
                    <tr>
                      <td><a href="{% url 'apps_detail' app.id %}">{{app.name}}</a></td>
                      {% if app.users.count %}
                      <td>
                        <a href="{% url 'attached_users' app.id %}"
                          >{{app.users.count}}</a
                        >
                      </td>
                      {% else %}
                      <td>{{app.users.count}}</td>
                      {% endif %}
                      <td>
                          {% if app in apps_you_dont_have %}
                          <a href="{% url 'assoc_user' app.id %}">Add To Build List</a>
                          {% else %}
                        <p>Already In Your Build List</p>
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
            {% endfor %} 
            {% else %}
            <h4>
              Go <a href="{% url 'apps_create' %}">Create Some App Ideas</a> or
              <a href="{% url 'apps_index' %}">Steal Some Ideas From Other Coders!</a>
            </h4>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}