{% extends 'base.html' %} {% block content %}

<div class="page-top">
  <h1>Fellow Coders</h1>
</div>

<div class="card-list">
  {% for user in users %}
  <div class="card shadow" style="width: 18rem">
    <img
      src="{{ user.profile.photo }}"
      class="card-img-top shadow"
      alt="user associated headshot"
    />
    <div class="card-body">
      <h5 class="card-title shadow">{{user.first_name}}</h5>
      <p class="card-text shadow">Year Joined: {{user.date_joined.year}}</p>
      <form class="card" action="{% url 'users_detail' user.id %}">
        <button type="submit" class="btn btn-secondary shadow">Profile</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
