{% extends 'base.html' %}

{% block content %}

<h1>Fellow Coders</h1>

<div>
    {% for user in users %}
    <div>
        <div>
            <img src="{{user.profile.photo}}" height="150px" alt="">
            <h1>{{ user.first_name }}</h1>
        </div>
        <div>
            {{user.profile.bio}}
            Year Joined: {{user.date_joined.year}}
        </div>
        <form action="{% url 'users_detail' user.id %}">
            <button type="submit">Profile</button>
        </form>
    </div>
    {% endfor %}
</div>


{% endblock %}