{% extends 'base.html' %} {% block content %}

<div class="page-top">
  <div class="card shadow" style="width: auto;">
    <img src="{{user.profile.photo}}" class="card-img-top shadow" alt="user selected headshot" />
    <div class="card-body">
      <h1>{{ user.first_name }}</h1>
      <div class="card shadow">
        <div class="card-body">
          <p class="card-text shadow">{{user.profile.bio}}</p>
          <p class="card-text shadow">
            You Joined Appcache In {{user.date_joined.year}}
          </p>
        </div>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body link-div">
        <a class="card-link" href="{{ user.profile.linkedin }}" target="_blank"
          >Your Linkedin Profile</a
        >
        <a class="card-link" href="{{ user.profile.github }}" target="_blank"
          >Your Github Profile</a
        >
        <a class="card-link" href="{% url 'profiles_update' user.profile.id %}"
        >Update Your Profile</a>
        <a class="card-link" href="{% url 'users_index' %}">Connect With Other Coders!</a>
        </p>
      </div>
    </div>
        <a class="btn btn-secondary build-list-btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Build List</a>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                {% if user.app_set.all %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>App</th>
                      <th>Coders Building It</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for app in user.app_set.all %}
                    <tr>
                      <td><a href="{% url 'apps_detail' app.id %}">{{app.name}}</a></td>
                      {% if app.users.count %}
                      <td>
                        <a href="{% url 'attached_users' app.id %}"
                          >{{app.users.count}}</a
                        >
                      </td>
                      {% else %}
                      <td>{{app.users.count}}</td>
                      {% endif %}
                      <td>
                        <a href="{% url 'disassoc_user' app.id %}"
                          >Remove Build Idea From Your List</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
            {% endfor %} 
            {% else %}
            <h4>
              Go <a href="{% url 'apps_create' %}">Create Some App Ideas</a> or
              <a href="{% url 'apps_index' %}">Steal Some Ideas From Other Coders!</a>
            </h4>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
