{% extends 'base.html' %}

{% block content %}

<div class="card mb-3">
    <img src="https://i.pinimg.com/564x/73/4a/9e/734a9e6ce0de4255bb6a1a7a1ae93340.jpg"  class="card-img-top" alt="pooh thinking really hard in red shirt, with stone wall background">
    <div class="card-body">
      <h5 class="card-title">App Cache Origin Story</h5>
      <p class="card-text">It all started towards the end of my coding bootcamp, when we were asked to come up with an idea for a basic app using Django/Python/PostgreSQL, to closely replicate a basic app we had built in class. Unfortunately my last two brain cells couldn't come up with an idea between them to save their sad little lives. Thus the idea to build an app to store and share app ideas sparked to life. Which is really ironic, beacuse in order to hydrate my SQL database with instances of data, I would need to come up with numerous app ideas, rather than just the one I needed to come up with at the start. RIP me. Enjoy creating and implementing project ideas, be sure to check out other users collections for app inspirations you can add to your build list. And keep networking kiddos, follow fellow App Cache coders via their github and linkedin!</p>
    </div>
  </div>

{% endblock %}
