{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<div class="page-top shadow email">
<h1>Welcome To App Cache</h1>
</div>
<div class="carousel carousel-fade" data-bs-ride="carousel">
  <div class="card-body">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{% static 'images/noun_sharing ideas_1833154.png' %}" class="w-100" alt="three lightbulbs overlapping each other">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'images/noun_Idea_1211638.png' %}" class="w-100" alt="face of a person with two hair buns, below a lit light bulb">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'images/noun_Idea_2053578.png' %}" class="w-100" alt="side view perspective of outstretched hand proffering a lit lightbulb">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'images/noun_group_3513805.png' %}" class="w-100" alt="lightbulb in a taxonomy branch with three people as offshoots, inheriting the lightbulb moment">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'images/noun_Community_2281479.png' %}" class="w-100" alt="three hands overlapping each other in a cheer ritual">
      </div>
    </div>
  </div>
  </div>
<hr>
  <div class="card shadow" style="max-width: 40rem;">
    <p class="card-text shadow">Got a cool build idea? Add it to App Cache! Share it around, post your builds, and see how your ideas inspire others in their creativity. Keep track of all your pet projects, while also building your network in the dev community!</p>
  </div>
<hr>

<div class="card-body email shadow mb-5" style="max-width: 40rem;">
    <h1>Get Updates From App Cache</h1>
    <div class="card-body shadow">
<form method="POST">
    {% csrf_token %}
    {{ subscribe_form|crispy }}
  <input type="submit" name="Subscribe" class = 'btn shadow btn-secondary btn-sm'>
</form>
</div>
</div>

{% endblock %}