body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 70px; 
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #E7E5FA;
  }
  
  main {
    flex: 1 0 auto;
  }


.card-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-list>div {
    margin: 5%;
}

h1{
    text-align: center;
}

.navbar {
  background-color: #9388E9;
}

.navbar-brand {
  color: #181058; 
}

.navbar-toggler-icon {
  border-color: #181058; 
}

.navbar-toggler {
  border-color: #181058; 
}

.nav-link {
  color: #181058;
}

td {
  text-align: center;
}

a {
  color: #181058;
}

.page-top{
  align-items: center;
}

.alert {
  background-color: #9F95EC;
}
  
.carousel-item {
width: auto;
height: 600;
max-height: 600px;
}

.card {
  background-color: #F3F2FD;
}

.card-title {
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}

.card-text {
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}

.link-div {
  margin-bottom: 10px;
  font-size: 16px;
}

.build-list-btn {
margin-bottom: 10px;
margin-top: 10px;
}