{% extends 'base.html' %} {% block content %}

<div class="page-top">
  <h1>Fellow Coders of {{app.name}}</h1>
</div>

<div class="card-list">
  {% for attached_user in app.users.all %}
  <div class="card m-5 shadow" style="width: 18rem">
    <img
      src="{{ attached_user.profile.photo }}"
      class="card-img-top shadow"
      alt="user associated headshot"
    />
    <div class="card-body shadow">
      <h5 class="card-title shadow">{{attached_user.first_name}}</h5>
      <p class="card-text shadow">Year Joined: {{attached_user.date_joined.year}}</p>
      <form class="card" action="{% url 'users_detail' user.id %}">
        <button type="submit" class="btn btn-secondary shadow">Profile</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
