{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <div>
            <h1>{{ app.name }}</h1>
        </div>
        <div>
            <p>{{app.description}}</p>
        </div>
        <div>
            <ul>
                {% for tech in app.tech.all %}
                <li>{{ tech.name }}</li>
                {% endfor %}
            </ul>
        </div>
      <form action="{% url 'assoc_user' app.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
                Add This App To Your List!
            </button>
        </form> 
        <div>
            <a href="{% url 'apps_index' %}">Return To Index</a>
        </div>
        <div>
            <div>
                <h1>Add Note</h1>
                <form action="{% url 'apps_addnote' app.id %}" method="post">
                    {% csrf_token %}
                    {{note_form.message}}
                    <input type="submit" value="Add Note">
                </form>
                

            </div>
        <table class="striped">
            <thead>
              <tr><th>Notes:</th><th>Date Posted</th><th>Posted By</th></tr>
            </thead>
            <tbody>
              {% for note in app.note_set.all %}
                <tr>
                  <td>{{note.message}}</td>
                  <td>{{note.date}}</td>
                  <td>{{note.user.first_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>


{% endblock %}