{% extends 'base.html' %}

{% block content %}

<h1>App Ideas</h1>
<span>Don't see one that speaks to you? Go <a href="{% url 'apps_create' %}">Create An App!</a></span>

<div>
    {% for app in apps %}
    <div>
        <div>
            <h1>{{ app.name }}</h1>
        </div>
        <div>
            <p>{{ app.description }}</p>
        </div>
        <div>
            <ul>
                {% for tech in app.tech.all %}
                <li>{{ tech.name }}</li>
                {% endfor %}
            </ul>
        </div>
      <form action="{% url 'assoc_user' app.id user.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
                Add This App To Your List!
            </button>
        </form> 
    </div>
    {% endfor %}
</div>


{% endblock %}