{% extends 'base.html' %}

{% block content %}
<div class="page-top">
<h1>App Ideas</h1>
<span>Don't see one that speaks to you? Go <a href="{% url 'apps_create' %}">Create An App!</a></span>
</div>

<form action="{% url 'apps_search' %}" method="get">
  
    <label>{{tech.first.name}}</label>
    <input type="number" name="q" value="{{tech.first.id}}">
 
    <button type="submit">Search Apps</button>
</form>

{% if apps.count %}
<div class="card-list">
    {% for app in apps %}
        <div class="card border-light shadow mb-5 bg-white rounded" style="max-width: 18rem;">
            <div class="card-header">{{ app.name }}</div>
        <div class="card-body">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
        <form action="{% url 'apps_detail' app.id %}">
            <button type="submit" class="btn btn-secondary">Details</button>
        </form>
        {% if app in apps_you_dont_have.all %}
      <form action="{% url 'assoc_user' app.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">
                Add To List!
            </button>
        </form> 
        {% else %}
        <p>You Have This On Your Build List</p>
        {% endif %}
    </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    You've collected all current app ideas in the App Cache, go build some!
</div>
{% endif %}


{% endblock %}